{% extends 'base/base.html' %}

{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'e_memory/css/emauth/password_reset_confirm.css' %}" />
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Redefinir Senha</h2>
    <h3>Por favor, insira sua nova senha abaixo.</h3>
    <p>Certifique-se de que a nova senha atenda aos requisitos de segurança:</p>
    <ul>
      <li>Deve ter pelo menos 8 caracteres.</li>
      <li>Deve conter pelo menos uma letra.</li>
    </ul>
    <form id="reset-password-confirm-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Confirmar</button>
    </form>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'e_memory/js/emauth/password_reset_confirm.js' %}"></script>
  <script src="{% static 'e_memory/js/utils/get_cookie.js' %}"></script>
{% endblock %}
